@model Student
@{
    Layout = "_Layout2";
    SelectList deptsl = new SelectList(ViewBag.depts, "DeptId", "DeptName");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" /> @*classes are implemented in these libraries*@
</head>
<body>

    <form action="/student/create" method="post">
        <div asp-validation-summary="All"></div>    @*presents all the error messages*@
        <label asp-for="Id"></label><input asp-for="Id"/> <br/>
        <label asp-for="Name"></label><input asp-for="Name" /> <span asp-validation-for="Name"></span> <br /> @*span: presents the errors*@
        <label asp-for="Age"></label><input asp-for="Age" /><span asp-validation-for="Age"></span><br />
        <label asp-for="Email"></label><input asp-for="Email" /><span asp-validation-for="Email"></span><br />
        <label asp-for="Password"></label> <input asp-for="Password" /><span asp-validation-for"Email"></span><br />
        <label asp-for="ConfirmPassword"></label> <input asp-for="ConfirmPassword" /><span asp-validation-for"ConfirmPassword"></span><br />

        <label asp-for="DeptId"></label>

        <select asp-for="DeptId" asp-items="deptsl"> 
        </select>
        <input type="submit" value="add" />
        </form>
    <script src="\lib\jquery\dist\jquery.js"></script> @*jquery library*@
    <script src="\lib\jquery-validation\dist\jquery.validate.js"></script> @*jquery validate library*@
    <script src="\lib\jquery-validation-unobtrusive\jquery.validate.unobtrusive.js"></script>" @*jquery val unobtusive*@

</body>


</html>

