@model Department
@{
    Layout = "_Layout2";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <form action="/department/create" method="post"> 
        <label asp-for="DeptId">Department ID</label> <input asp-for="DeptId"/><br/>        
        Department Name <input asp-for="DeptName"/><br/> 
        Department Capacity <input asp-for="Capacity" /><br />
        <input type="submit" value="add" />
    </form>
    

</body>


</html>

